.wrapper{
    max-width: 100vw;
    background-color: #004F44;
}

.container{
    max-width: 1440px;
    padding: 0 140px;
    margin: 0 auto;
    height: auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.menu__link{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding: 10px;
}

.arrow{
    position: relative;
}

.arrow-decoration{
    position: absolute;
    top: 50%;
    right: -13px;
}

.user-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    gap: 0 133px;
    padding-bottom: 94px;
}

.hero__products{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    position: relative;
}

.hero__grid{
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.hero__grid:hover img {
    scale: 1.1;
    transition: ease 0.3s all;
}

.hero_product-1{
    grid-area: 1 / 1 / 2 / 2;
}

.hero_product-2{
    grid-area: 2 / 1 / 3 / 2;
}

.hero_product-3{
    grid-area: 1 / 2 / 3 / 3;
    position: relative;
    /* max-width: 380px; */
    display: block;
}

.hero-decoration{
    position: absolute;
    bottom: -5%;
    left: -10%;
    z-index: 1;
}

.hero__item-description{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    z-index: 3;
    width: 86%;
}

.description__title{
    font-size: 28px;
    color: #EFF7F5;
    margin-bottom: 6px;
    font-weight: 400;
}

.description__text{
    font-size: 14px;
    color: #EFF7F5;
    margin-bottom: 18px;
}

.description__link{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #004F44;
    letter-spacing: 3.2px;
    padding: 17px 115px;
    background-color: #fff;
}

.hero__img-decoration{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero__img-decoration::after{
    content: '';
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 60%, rgba(46, 64, 61, 0.32) 70%, rgba(35, 74, 69, 0.93)100%);
    width: 100%;
    height: 100%;
    /* z-index: 5; */
    position: absolute;
    top: 0;
    left: 0;
}

.hero__item-big{
    width: 100%;
    height: 100%;
    /* z-index: 4; */
}

.hero__tag{
    position: absolute;
    top: 12px;
    left: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    padding: 7px 15px;
    background-color: #004F44;
    z-index: 5;
}

.hero__textbox{
    max-width: 420px;
    color: #EFF7F5;
    font-family: 'Poppins', sans-serif;
}

.hero__title{
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.3;
    margin-bottom: 32px;
}

.hero__text{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.8;
    margin-bottom: 32px;
}

.hero__btns{
    display: flex;
    align-items: center;
}

.hero__button-white{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    background-color: #EFF7F5;
    color: #004F44;
    padding: 19px 41px;
    margin-right: 43px;
}

.hero__button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-right: 20px;
    position: relative;
}

.hero__arrow{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -20px;
}

.top{
    overflow: hidden;
    margin-top: 70px;
}

.top__slider{
    width: 1500px;
    position: relative;
}

.swiper-button-next{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #fff;
}

.swiper-button-next:after{
    content: none;
}

.section__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    color: #004F44;
    letter-spacing: 0.5px;
}

.top__title{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.view__btn{
    font-size: 24px;
    font-weight: 400;
}

.top__item{
    max-width: 280px;
}

.top__item-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #004F44;
}

.top__item-name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 250px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.top__item-selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.top__item-btn{
    color: #004F44;
    background-color: #fff;
    padding: 8px 24px;
    border: 1px solid #004F44;
    cursor: pointer;
}

.top__item-btn:hover{
    color: #fff;
    background-color: #004F44;
    border: none;
}

.top__item-selection{
    display: flex;
    justify-content: space-between;
}

label{
    cursor: pointer;
}

span{
    display: block;
    color: #9EA9A7;
    margin-bottom: 8px;
}

.custom-radio{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: none;
}

.custom-radio::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #004F44;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
    /* display: none; */
}

.real-radio:checked + .custom-radio::before{
    /* display: inline-block; */
    transform: translate(-50%, -50%) scale(1);
}

.black{
    background-color: #39362E;
}

.pink{
    background-color: #F3A195;
}

.biege{
    background-color: #EFEAE6;
}

.brown{
    background-color: #C38364;
}

.search-panel{
    margin-top: 100px;
    background-color: #F3FFFC;
    padding: 85px 0;
}

.form__items{
    display: flex;
    justify-content: space-between;
    gap: 0 15px;
}

.search-panel__input{
    min-width: 1010px;
    min-height: 59px;
    border: 1px solid #004F44;
}

.form__filter{
    min-height: 59px;
    min-width: 59px;
    background-color: transparent;
    border: 1px solid #004F44;
    position: relative;
    cursor: pointer;
}

.form__filter-img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__search{
    min-height: 59px;
    min-width: 59px;
    background-color: #004F44;
    border: 1px solid #004F44;
    position: relative;
    cursor: pointer;
}

.form__search-img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-panel__input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #004F44;
    padding-left: 30px;
}

.catalog{
    margin-top: 100px;
}

.catalog__title{
    font-size: 30px;
    letter-spacing: 0.3px;
}

.catalog__items{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.catalog__item{
    position: relative;
    width: 268px;
}

.catalog__item-decoration{
    width: 100%;
    height: 100%;
    position: relative;
}

.catalog__item-decoration::after{
    content: '';
    background-color: rgba(1, 44, 38, .71);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.catalog__item-description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog__item-title{
    font-size: 29px;
    font-weight: 400;
}

.catalog__item-text{
    font-size: 16px;
    position: relative;
}

.item__text-arrow{
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(0, -50%);
}

.additional{
    background-color: #F3FFFC;
    padding: 80px 0;
    margin-top: 100px;
}

.item__btn-text{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #004F44;
    position: relative;
}

.additional-arrow{
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translate(0, -50%);
}

.delivery{
    margin-top: 100px;
}

.delivery-banner{
    background-image: url(../images/delivery/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 350px;
}

.delivery__content{
    display: block;
    padding-top: 55px;
    padding-left: 55px;
    font-family: 'Poppins', sans-serif;
    color: #9C6955;
    letter-spacing: 0.3px;
}

.delivery__title{
    font-size: 44px;
}

.delivery__text{
    font-size: 17px;
    padding-top: 10px;
}

.delivery__links{
    display: block;
    padding-top: 60px;
    font-size: 16px;
}

.delivery__tel{
    display: block;
    position: relative;
}

.tel{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
}

.tel-img{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
}

/* .delivery__mail{
    display: block;
    position: relative;
}

.mail{
    position: absolute;
    top: 70%;
    left: 30px;
    transform: translate(0, -70%);
}

.mail-img{
    position: absolute;
    top: 70%;
    left: 0px;
    transform: translate(0, -70%);
} */